.navbar{
    background-color: #729cdfe8;
    height:90px;
    padding:0 40px 0 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family:cursive;
    font-size:35px;
    font-weight: bolder;
    color:rgb(70, 99, 107);
    
}

.nav-items ul{
    display:flex;
    justify-content:space-between;
    gap:30px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size:20px;
    color:rgb(249, 243, 230);

}

.login{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: azure;
}